<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.qq.mapper.PictureMapper">

 	
 	<insert id="addpicurl"  >
 		<!--添加图片信息-->
 		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID();
		</selectKey> 
 		insert into picture (url) values (#{picurl})
 	</insert>
 	
 	 
 	
 </mapper>
